<html>
    <body>
        <%- include('header'); -%>
        <h5>Change-Password Page</h5>
        <form method="post">
            <table>
                <tr>
                    <td>Old-Password:- </td>
                    <td><input type="text" name="opass" required></td>
                </tr>
                <tr>
                    <td>New-Password:- </td>
                    <td><input type="text" name="npass" required></td>
                </tr>
                <tr>
                    <td>Confirm-Password:- </td>
                    <td><input type="password" name="cpass" required></td>
                </tr>
                <tr>
                    <td><input type="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>