<html>
    <body>
        <%- include('header'); -%>
        <h4>Forgot-Password</h4>
        <form method="post">
            <table>
                <tr>
                    <td>E_Mail:- </td>
                    <td><input type="email" name="user_email" required></td>
                </tr>
                <tr>
                    <td><input type="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>