<html>
    <body>
        <%- include('header'); -%>
        <h2>Login Page</h2>
        <form method="post">
            <table>
                <tr>
                    <td>E_Mail:- </td>
                    <td><input type="email" name="txt5" required></td>
                </tr>
                <tr>
                    <td>Password:- </td>
                    <td><input type="password" name="txt6" required></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
            <a href="/forgot-password">Forgot-Password</a>
            <a href="/signup">Create An Account?</a>
        </form>
    </body>
</html>